name: Test APWorld
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: Eijebong/ap-actions/ap-tests@main
        with:
          apworld-path: worlds/ty_the_tasmanian_tiger_2
          ap-version: '0.6.5'
          python-version: '3.12'